[Unit]
Description=Mutual Funds SLM Nightly Calculation & AMFI Sync Job
Wants=mutual-funds-sync.timer

[Service]
Type=oneshot
User=ubuntu
WorkingDirectory=/opt/ascm-poc/products/mutual-funds-slm
ExecStart=/bin/bash /opt/ascm-poc/products/mutual-funds-slm/cron/sync_job.sh
StandardOutput=journal
StandardError=journal
